@charset "UTF-8";
/*/
// alternate color scheme, just as a demo
// black on white with red
$fg: #202020 !default;
$bg: #eeeeee !default;
$accent: #ff0091 !default;
/**/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
button {
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.max-height-5rem {
  max-height: 5rem;
}

.max-width-5rem {
  max-width: 5rem;
}

.min-height-5rem {
  min-height: 5rem;
}

.min-width-5rem {
  min-width: 5rem;
}

.height-5rem {
  height: 5rem;
}

.width-5rem {
  width: 5rem;
}

.max-height-10rem {
  max-height: 10rem;
}

.max-width-10rem {
  max-width: 10rem;
}

.min-height-10rem {
  min-height: 10rem;
}

.min-width-10rem {
  min-width: 10rem;
}

.height-10rem {
  height: 10rem;
}

.width-10rem {
  width: 10rem;
}

.max-height-15rem {
  max-height: 15rem;
}

.max-width-15rem {
  max-width: 15rem;
}

.min-height-15rem {
  min-height: 15rem;
}

.min-width-15rem {
  min-width: 15rem;
}

.height-15rem {
  height: 15rem;
}

.width-15rem {
  width: 15rem;
}

.max-height-20rem {
  max-height: 20rem;
}

.max-width-20rem {
  max-width: 20rem;
}

.min-height-20rem {
  min-height: 20rem;
}

.min-width-20rem {
  min-width: 20rem;
}

.height-20rem {
  height: 20rem;
}

.width-20rem {
  width: 20rem;
}

.max-height-25rem {
  max-height: 25rem;
}

.max-width-25rem {
  max-width: 25rem;
}

.min-height-25rem {
  min-height: 25rem;
}

.min-width-25rem {
  min-width: 25rem;
}

.height-25rem {
  height: 25rem;
}

.width-25rem {
  width: 25rem;
}

.max-height-30rem {
  max-height: 30rem;
}

.max-width-30rem {
  max-width: 30rem;
}

.min-height-30rem {
  min-height: 30rem;
}

.min-width-30rem {
  min-width: 30rem;
}

.height-30rem {
  height: 30rem;
}

.width-30rem {
  width: 30rem;
}

.max-height-35rem {
  max-height: 35rem;
}

.max-width-35rem {
  max-width: 35rem;
}

.min-height-35rem {
  min-height: 35rem;
}

.min-width-35rem {
  min-width: 35rem;
}

.height-35rem {
  height: 35rem;
}

.width-35rem {
  width: 35rem;
}

.max-height-40rem {
  max-height: 40rem;
}

.max-width-40rem {
  max-width: 40rem;
}

.min-height-40rem {
  min-height: 40rem;
}

.min-width-40rem {
  min-width: 40rem;
}

.height-40rem {
  height: 40rem;
}

.width-40rem {
  width: 40rem;
}

.max-height-45rem {
  max-height: 45rem;
}

.max-width-45rem {
  max-width: 45rem;
}

.min-height-45rem {
  min-height: 45rem;
}

.min-width-45rem {
  min-width: 45rem;
}

.height-45rem {
  height: 45rem;
}

.width-45rem {
  width: 45rem;
}

.max-height-50rem {
  max-height: 50rem;
}

.max-width-50rem {
  max-width: 50rem;
}

.min-height-50rem {
  min-height: 50rem;
}

.min-width-50rem {
  min-width: 50rem;
}

.height-50rem {
  height: 50rem;
}

.width-50rem {
  width: 50rem;
}

.max-height-5em {
  max-height: 5em;
}

.max-width-5em {
  max-width: 5em;
}

.min-height-5em {
  min-height: 5em;
}

.min-width-5em {
  min-width: 5em;
}

.height-5em {
  height: 5em;
}

.width-5em {
  width: 5em;
}

.max-height-10em {
  max-height: 10em;
}

.max-width-10em {
  max-width: 10em;
}

.min-height-10em {
  min-height: 10em;
}

.min-width-10em {
  min-width: 10em;
}

.height-10em {
  height: 10em;
}

.width-10em {
  width: 10em;
}

.max-height-15em {
  max-height: 15em;
}

.max-width-15em {
  max-width: 15em;
}

.min-height-15em {
  min-height: 15em;
}

.min-width-15em {
  min-width: 15em;
}

.height-15em {
  height: 15em;
}

.width-15em {
  width: 15em;
}

.max-height-20em {
  max-height: 20em;
}

.max-width-20em {
  max-width: 20em;
}

.min-height-20em {
  min-height: 20em;
}

.min-width-20em {
  min-width: 20em;
}

.height-20em {
  height: 20em;
}

.width-20em {
  width: 20em;
}

.max-height-25em {
  max-height: 25em;
}

.max-width-25em {
  max-width: 25em;
}

.min-height-25em {
  min-height: 25em;
}

.min-width-25em {
  min-width: 25em;
}

.height-25em {
  height: 25em;
}

.width-25em {
  width: 25em;
}

.max-height-30em {
  max-height: 30em;
}

.max-width-30em {
  max-width: 30em;
}

.min-height-30em {
  min-height: 30em;
}

.min-width-30em {
  min-width: 30em;
}

.height-30em {
  height: 30em;
}

.width-30em {
  width: 30em;
}

.max-height-35em {
  max-height: 35em;
}

.max-width-35em {
  max-width: 35em;
}

.min-height-35em {
  min-height: 35em;
}

.min-width-35em {
  min-width: 35em;
}

.height-35em {
  height: 35em;
}

.width-35em {
  width: 35em;
}

.max-height-40em {
  max-height: 40em;
}

.max-width-40em {
  max-width: 40em;
}

.min-height-40em {
  min-height: 40em;
}

.min-width-40em {
  min-width: 40em;
}

.height-40em {
  height: 40em;
}

.width-40em {
  width: 40em;
}

.max-height-45em {
  max-height: 45em;
}

.max-width-45em {
  max-width: 45em;
}

.min-height-45em {
  min-height: 45em;
}

.min-width-45em {
  min-width: 45em;
}

.height-45em {
  height: 45em;
}

.width-45em {
  width: 45em;
}

.max-height-50em {
  max-height: 50em;
}

.max-width-50em {
  max-width: 50em;
}

.min-height-50em {
  min-height: 50em;
}

.min-width-50em {
  min-width: 50em;
}

.height-50em {
  height: 50em;
}

.width-50em {
  width: 50em;
}

.max-height-5pct {
  max-height: 5%;
}

.max-width-5pct {
  max-width: 5%;
}

.min-height-5pct {
  min-height: 5%;
}

.min-width-5pct {
  min-width: 5%;
}

.height-5pct {
  height: 5%;
}

.width-5pct {
  width: 5%;
}

.max-height-10pct {
  max-height: 10%;
}

.max-width-10pct {
  max-width: 10%;
}

.min-height-10pct {
  min-height: 10%;
}

.min-width-10pct {
  min-width: 10%;
}

.height-10pct {
  height: 10%;
}

.width-10pct {
  width: 10%;
}

.max-height-15pct {
  max-height: 15%;
}

.max-width-15pct {
  max-width: 15%;
}

.min-height-15pct {
  min-height: 15%;
}

.min-width-15pct {
  min-width: 15%;
}

.height-15pct {
  height: 15%;
}

.width-15pct {
  width: 15%;
}

.max-height-20pct {
  max-height: 20%;
}

.max-width-20pct {
  max-width: 20%;
}

.min-height-20pct {
  min-height: 20%;
}

.min-width-20pct {
  min-width: 20%;
}

.height-20pct {
  height: 20%;
}

.width-20pct {
  width: 20%;
}

.max-height-25pct {
  max-height: 25%;
}

.max-width-25pct {
  max-width: 25%;
}

.min-height-25pct {
  min-height: 25%;
}

.min-width-25pct {
  min-width: 25%;
}

.height-25pct {
  height: 25%;
}

.width-25pct {
  width: 25%;
}

.max-height-30pct {
  max-height: 30%;
}

.max-width-30pct {
  max-width: 30%;
}

.min-height-30pct {
  min-height: 30%;
}

.min-width-30pct {
  min-width: 30%;
}

.height-30pct {
  height: 30%;
}

.width-30pct {
  width: 30%;
}

.max-height-35pct {
  max-height: 35%;
}

.max-width-35pct {
  max-width: 35%;
}

.min-height-35pct {
  min-height: 35%;
}

.min-width-35pct {
  min-width: 35%;
}

.height-35pct {
  height: 35%;
}

.width-35pct {
  width: 35%;
}

.max-height-40pct {
  max-height: 40%;
}

.max-width-40pct {
  max-width: 40%;
}

.min-height-40pct {
  min-height: 40%;
}

.min-width-40pct {
  min-width: 40%;
}

.height-40pct {
  height: 40%;
}

.width-40pct {
  width: 40%;
}

.max-height-45pct {
  max-height: 45%;
}

.max-width-45pct {
  max-width: 45%;
}

.min-height-45pct {
  min-height: 45%;
}

.min-width-45pct {
  min-width: 45%;
}

.height-45pct {
  height: 45%;
}

.width-45pct {
  width: 45%;
}

.max-height-50pct {
  max-height: 50%;
}

.max-width-50pct {
  max-width: 50%;
}

.min-height-50pct {
  min-height: 50%;
}

.min-width-50pct {
  min-width: 50%;
}

.height-50pct {
  height: 50%;
}

.width-50pct {
  width: 50%;
}

.max-height-55pct {
  max-height: 55%;
}

.max-width-55pct {
  max-width: 55%;
}

.min-height-55pct {
  min-height: 55%;
}

.min-width-55pct {
  min-width: 55%;
}

.height-55pct {
  height: 55%;
}

.width-55pct {
  width: 55%;
}

.max-height-60pct {
  max-height: 60%;
}

.max-width-60pct {
  max-width: 60%;
}

.min-height-60pct {
  min-height: 60%;
}

.min-width-60pct {
  min-width: 60%;
}

.height-60pct {
  height: 60%;
}

.width-60pct {
  width: 60%;
}

.max-height-65pct {
  max-height: 65%;
}

.max-width-65pct {
  max-width: 65%;
}

.min-height-65pct {
  min-height: 65%;
}

.min-width-65pct {
  min-width: 65%;
}

.height-65pct {
  height: 65%;
}

.width-65pct {
  width: 65%;
}

.max-height-70pct {
  max-height: 70%;
}

.max-width-70pct {
  max-width: 70%;
}

.min-height-70pct {
  min-height: 70%;
}

.min-width-70pct {
  min-width: 70%;
}

.height-70pct {
  height: 70%;
}

.width-70pct {
  width: 70%;
}

.max-height-75pct {
  max-height: 75%;
}

.max-width-75pct {
  max-width: 75%;
}

.min-height-75pct {
  min-height: 75%;
}

.min-width-75pct {
  min-width: 75%;
}

.height-75pct {
  height: 75%;
}

.width-75pct {
  width: 75%;
}

.max-height-80pct {
  max-height: 80%;
}

.max-width-80pct {
  max-width: 80%;
}

.min-height-80pct {
  min-height: 80%;
}

.min-width-80pct {
  min-width: 80%;
}

.height-80pct {
  height: 80%;
}

.width-80pct {
  width: 80%;
}

.max-height-85pct {
  max-height: 85%;
}

.max-width-85pct {
  max-width: 85%;
}

.min-height-85pct {
  min-height: 85%;
}

.min-width-85pct {
  min-width: 85%;
}

.height-85pct {
  height: 85%;
}

.width-85pct {
  width: 85%;
}

.max-height-90pct {
  max-height: 90%;
}

.max-width-90pct {
  max-width: 90%;
}

.min-height-90pct {
  min-height: 90%;
}

.min-width-90pct {
  min-width: 90%;
}

.height-90pct {
  height: 90%;
}

.width-90pct {
  width: 90%;
}

.max-height-95pct {
  max-height: 95%;
}

.max-width-95pct {
  max-width: 95%;
}

.min-height-95pct {
  min-height: 95%;
}

.min-width-95pct {
  min-width: 95%;
}

.height-95pct {
  height: 95%;
}

.width-95pct {
  width: 95%;
}

.max-height-100pct {
  max-height: 100%;
}

.max-width-100pct {
  max-width: 100%;
}

.min-height-100pct {
  min-height: 100%;
}

.min-width-100pct {
  min-width: 100%;
}

.height-100pct {
  height: 100%;
}

.width-100pct {
  width: 100%;
}

:root {
  font-size: 4mm;
}
@media all and (min-width: 40rem) {
  :root {
    font-size: 5.25mm;
  }
}

body {
  background-color: #eee;
  color: #222;
  font-family: "Roboto";
  font-size: 1rem;
  word-wrap: break-word;
}

dd {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #f777c0;
  padding-bottom: 1rem;
}

details:not(.well):not(.alert), blockquote, dd, address, aside {
  margin-left: 0.5rem;
  border-left: 2px solid #f777c0;
  padding-left: 1rem;
}

cite, em, dfn, i, var, article > nav > ul > li ul ul ul, figure::before, dt {
  font-style: italic;
}

article > nav > ul > li ul a {
  font-weight: normal;
}

dialog.bonk--auto-dialog > h1.bonk--auto-dialog-header,
dialog.bonk--auto-dialog > details.bonk--auto-dialog-details > summary, th, a, abbr {
  font-weight: 500;
}

.bonk-slideshow .bonk--slideshow-btn-next, .bonk-slideshow .bonk--slideshow-btn-prev, strong, var.vector, var.matrix, var.tensor {
  font-weight: bold;
}

small, sub, sup, article > nav > ul > li ul ul {
  font-size: smaller;
}

code, kbd, samp, pre {
  font-family: "Roboto Mono", monospace;
  /*font-size: larger; %italic { margin-right: 0.1em; }*/
}

address {
  line-height: 1.25em;
}

article, section {
  padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
  padding: 0.4rem 0;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1.5rem;
}

hgroup {
  padding-bottom: 0.4rem;
}
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {
  padding-bottom: 0;
}

article > nav > label[for|=article-nav-toggle] {
  width: 3rem;
  margin-left: -3rem;
  height: 2.5rem;
  background-color: #e4e4e4;
  border-radius: 0 0 0 0.5rem;
  content: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"> <path d="M12 24h72a4 4 0 0 1 0 8h-72a4 4 0 0 1 0 -8" fill="rgba(255, 0, 145, 1)"/> <path d="M12 45h72a4 4 0 0 1 0 8h-72a4 4 0 0 1 0 -8" fill="rgba(255, 0, 145, 1)"/> <path d="M12 66h72a4 4 0 0 1 0 8h-72a4 4 0 0 1 0 -8" fill="rgba(255, 0, 145, 1)"/></svg>');
  cursor: pointer;
}

article > nav > label[for|=article-nav-toggle] {
  padding-top: 1rem;
  margin-top: -1rem;
  background: linear-gradient(transparent 0%, #e4e4e4 1rem);
}

/* Site nav, across top */
main {
  position: fixed;
  top: 3rem;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  max-width: 100vw;
}
main ~ nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: rgba(34, 34, 34, 0.05);
  box-shadow: 0px 0.125rem 0.125rem #eee;
}
main ~ nav ul ul {
  position: absolute;
  display: none;
  width: max-content;
  background: #e4e4e4;
}
main ~ nav ul ul li {
  line-height: 2em;
  border-left: 3px solid #f777c0;
}
main ~ nav ul ul li:hover {
  border-left: 3px solid #ff0091;
}
main ~ nav ul ul a {
  padding: 0 1rem;
}
main ~ nav li {
  position: relative;
}
main ~ nav li:hover {
  background-color: rgba(34, 34, 34, 0.05);
}
@media all and (min-width: 50rem) {
  main ~ nav li:hover > ul {
    display: block;
  }
}
main ~ nav a {
  font: inherit;
  color: inherit;
  display: block;
}
main ~ nav a:hover {
  background-color: rgba(34, 34, 34, 0.05);
}
main ~ nav > ul {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
main ~ nav > ul > li {
  padding: 1rem;
}
main ~ nav > ul > li > a {
  height: 100%;
  padding: 1rem;
  margin: -1rem;
}
main ~ nav > ul > li > a:hover {
  border-bottom: 3px solid #ff0091;
}
main ~ nav > ul > li > img {
  height: 2rem;
  margin: -0.5rem;
}
@media all and (min-width: 25rem) {
  main ~ nav > ul > li:hover > ul {
    display: block;
  }
}
main ~ nav > ul > li > ul {
  top: 100%;
  left: 0;
}
main ~ nav > ul > li > ul ul {
  left: 100%;
  top: 0;
}

/* Article nav, along side */
article {
  position: relative;
}
@media all and (min-width: 80rem) {
  article {
    padding-right: 15rem;
  }
}
article section:first-of-type > h1:first-of-type {
  margin-right: 3rem;
}
article > nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 15rem;
}
article > nav > input[type=checkbox][id|=article-nav-toggle] {
  display: none;
}
article > nav > input[type=checkbox][id|=article-nav-toggle]:not(:checked) ~ ul {
  display: none;
}
@media all and (min-width: 80rem) {
  article > nav > input[type=checkbox][id|=article-nav-toggle]:not(:checked) ~ ul {
    display: block;
  }
}
article > nav > input[type=checkbox][id|=article-nav-toggle]:checked ~ label {
  z-index: 1;
}
article > nav > label[for|=article-nav-toggle] {
  top: -1rem;
  position: sticky;
  float: right;
}
@media all and (min-width: 80rem) {
  article > nav > label[for|=article-nav-toggle] {
    display: none;
  }
}
article > nav ul {
  user-select: none;
}
article > nav ul li a {
  display: block;
  padding: 0.3rem 0.75rem 0.3rem 1rem;
  color: #222;
  transition: padding-right 0.5s linear;
}
article > nav ul li a:hover {
  background-color: rgba(34, 34, 34, 0.05);
  border-right: 2px solid #ff0091;
  margin-right: -2px;
  padding-right: 1rem;
}
article > nav ul li a + ul {
  border-right: 2px solid #f777c0;
  margin-right: 0.95rem;
}
article > nav > ul {
  position: sticky;
  top: 0;
  background: #e4e4e4;
  border-left: 0.25rem solid rgba(34, 34, 34, 0.05);
  border-radius: 0 0 0 0.5rem;
  text-align: right;
  padding-bottom: 0.5em;
  padding-top: 3.5rem;
  background: linear-gradient(transparent 0%, #e4e4e4 1rem);
  top: -1rem;
  margin-top: -1rem;
  height: 100vh;
  height: calc(100vh - 7rem);
  overflow-x: hidden;
}
@media all and (min-width: 80rem) {
  article > nav > ul {
    padding-top: 1.5rem;
    height: calc(100vh - 4.5rem);
    background: #e4e4e4;
    border-top: 0.25rem solid rgba(34, 34, 34, 0.05);
  }
}
nav ul {
  list-style-type: none;
}
nav ul li {
  margin: 0;
  line-height: 1rem;
}

p, details {
  line-height: 1.5em;
  padding-bottom: 0.5em;
}

article {
  counter-reset: figure;
}

figure {
  counter-increment: figure;
  padding: 1rem;
}
figure * {
  width: 100%;
}
figure::before {
  content: "Figure " counter(figure);
  display: block;
  padding: 0.5rem 0;
}
figure figcaption {
  padding: 0.5rem 0;
}

hr {
  border-color: #ff0091;
}

pre {
  tab-size: 4;
  background-color: rgba(247, 119, 192, 0.16);
  padding: 0.5rem;
  margin: 0.5rem;
  overflow-y: hidden;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ol > li, ul > li {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.35em;
}
ol:last-of-type, ul:last-of-type {
  margin-bottom: 0.5rem;
}

dl {
  line-height: 1.25em;
}

dd {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

a {
  color: #ff0091;
  text-decoration: none;
}

a[href*="://"]::after,
a[href^="mailto:"]::after,
a[href^="tel:"]::after {
  display: inline-block;
  content: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><polyline fill="rgba(255, 0, 145, 1)" points="0,16 48,16 48,32 16,32 16,112 96,112 96,80 112,80 112,128 0,128"/><polyline fill="rgba(255, 0, 145, 1)" points="80,0 128,0 128,48 114,48 114,25.314 54.461,84.853 43.147,73.539 102.686,14 80,14"/></svg>');
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.2em;
  margin-right: 0.1em;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b {
  text-decoration: underline;
}

pre code {
  tab-size: 2;
  font-size: 1rem;
}

mark {
  background-color: #f777c0;
  color: #222;
}

q {
  quotes: "“" "”" "‘" "’";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

s {
  text-decoration: line-through;
}

ins {
  text-decoration: underline double;
}

del {
  text-decoration: line-through double;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

var.const {
  font-style: normal;
}
var.tensor {
  font-family: sans-serif;
}

table {
  margin-bottom: 0.5em;
}

table, tbody {
  background: rgba(34, 34, 34, 0.05);
}

tbody, td, th {
  padding: 1rem;
}

tbody tr:nth-of-type(2n) {
  background: rgba(34, 34, 34, 0.05);
}

tbody tr:hover {
  background: rgba(255, 0, 145, 0.05);
}

th {
  background: #f777c0;
}

form.easy fieldset, form.easy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(2em, auto);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 0.75rem;
}

form.easy label, form.easy p {
  margin-bottom: 0.25rem;
  text-align: right;
}
form.easy label {
  align-self: center;
}
form.easy .radiogroup label {
  display: block;
  text-align: left;
}
form.easy input, form.easy button, form.easy select {
  max-width: 10rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
}
form.easy progress {
  height: 100%;
}
form.easy button {
  grid-column: 2/3;
}
form.easy button.centered {
  grid-column: 1/3;
  width: fit-content;
  min-width: 20%;
  justify-self: center;
}
form.easy fieldset {
  grid-column: 1/3;
  border: 2px solid #ff0091;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
}
form.easy fieldset legend {
  grid-column: 1/3;
  padding: 0 0.3rem;
}

button.thicc {
  padding: 0.25rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;
}

details summary {
  line-height: 1.5em;
}
details[open] summary {
  margin-bottom: 0.5rem;
}
details:not(.well):not(.alert) {
  margin: 1rem;
}

.syntax-html-bracket {
  color: darkblue;
}

.syntax-html-tag {
  color: darkgreen;
}

.syntax-html-attribute-key {
  color: darkred;
}

.syntax-html-attribute-equals {
  color: darkblue;
}

.syntax-html-attribute-value {
  color: darkmagenta;
}

.syntax-html-quotation {
  color: darkmagenta;
}

.syntax-scss-directive {
  color: lightblue;
}

.syntax-scss-variable {
  color: darkred;
}

.syntax-scss-selector {
  color: darkred;
}

.syntax-scss-property {
  color: darkred;
}

.syntax-scss-string {
  color: magenta;
}

.syntax-scss-number {
  color: magenta;
}

.syntax-scss-color {
  color: magenta;
}

.syntax-scss-value {
  color: darkmagenta;
}

.syntax-scss-bracket {
  color: darkblue;
}

.syntax-scss-delimiter {
  color: darkblue;
}

.syntax-js-object {
  color: white;
}

.syntax-js-operator {
  color: darkblue;
}

.syntax-js-bracket {
  color: darkblue;
}

.syntax-js-string {
  color: magenta;
}

.syntax-js-number {
  color: magenta;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 40em) {
  .grid-row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 50em) {
  .grid-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .grid-row {
    grid-template-columns: repeat(6, 1fr);
  }
}
.grid-row > .col-1w {
  grid-column: span 1;
}
.grid-row > .col-2w {
  grid-column: span 2;
}
.grid-row > .col-3w {
  grid-column: span 3;
}
.grid-row > .col-4w {
  grid-column: span 4;
}
.grid-row > .col-5w {
  grid-column: span 5;
}
.grid-row > .col-6w {
  grid-column: span 6;
}
.grid-row > .col-1w.col-1 {
  grid-column: 1/span 1;
}
.grid-row > .col-1w.col-2 {
  grid-column: 2/span 1;
}
.grid-row > .col-1w.col-3 {
  grid-column: 3/span 1;
}
.grid-row > .col-1w.col-4 {
  grid-column: 4/span 1;
}
.grid-row > .col-1w.col-5 {
  grid-column: 5/span 1;
}
.grid-row > .col-1w.col-6 {
  grid-column: 6/span 1;
}
.grid-row > .col-2w.col-1 {
  grid-column: 1/span 2;
}
.grid-row > .col-2w.col-2 {
  grid-column: 2/span 2;
}
.grid-row > .col-2w.col-3 {
  grid-column: 3/span 2;
}
.grid-row > .col-2w.col-4 {
  grid-column: 4/span 2;
}
.grid-row > .col-2w.col-5 {
  grid-column: 5/span 2;
}
.grid-row > .col-3w.col-1 {
  grid-column: 1/span 3;
}
.grid-row > .col-3w.col-2 {
  grid-column: 2/span 3;
}
.grid-row > .col-3w.col-3 {
  grid-column: 3/span 3;
}
.grid-row > .col-3w.col-4 {
  grid-column: 4/span 3;
}
.grid-row > .col-4w.col-1 {
  grid-column: 1/span 4;
}
.grid-row > .col-4w.col-2 {
  grid-column: 2/span 4;
}
.grid-row > .col-4w.col-3 {
  grid-column: 3/span 4;
}
.grid-row > .col-5w.col-1 {
  grid-column: 1/span 5;
}
.grid-row > .col-5w.col-2 {
  grid-column: 2/span 5;
}
.grid-row > .cell {
  padding: 1em;
  border-radius: 0.5em;
  margin: 0.25em;
}
.grid-row:not(.plain) > .cell {
  background-color: rgba(34, 34, 34, 0.05);
}

@media (min-width: 10rem) {
  .below-10rem {
    display: none;
  }
}
@media (max-width: 10rem) {
  .above-10rem {
    display: none;
  }
}
@media (min-width: 20rem) {
  .below-20rem {
    display: none;
  }
}
@media (max-width: 20rem) {
  .above-20rem {
    display: none;
  }
}
@media (min-width: 30rem) {
  .below-30rem {
    display: none;
  }
}
@media (max-width: 30rem) {
  .above-30rem {
    display: none;
  }
}
@media (min-width: 40rem) {
  .below-40rem {
    display: none;
  }
}
@media (max-width: 40rem) {
  .above-40rem {
    display: none;
  }
}
@media (min-width: 50rem) {
  .below-50rem {
    display: none;
  }
}
@media (max-width: 50rem) {
  .above-50rem {
    display: none;
  }
}
@media (min-width: 60rem) {
  .below-60rem {
    display: none;
  }
}
@media (max-width: 60rem) {
  .above-60rem {
    display: none;
  }
}
@media (min-width: 70rem) {
  .below-70rem {
    display: none;
  }
}
@media (max-width: 70rem) {
  .above-70rem {
    display: none;
  }
}
@media (min-width: 80rem) {
  .below-80rem {
    display: none;
  }
}
@media (max-width: 80rem) {
  .above-80rem {
    display: none;
  }
}
@media (min-width: 90rem) {
  .below-90rem {
    display: none;
  }
}
@media (max-width: 90rem) {
  .above-90rem {
    display: none;
  }
}
@media (min-width: 100rem) {
  .below-100rem {
    display: none;
  }
}
@media (max-width: 100rem) {
  .above-100rem {
    display: none;
  }
}
.well {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(34, 34, 34, 0.1);
  color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
}

.alert {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #cce9ff;
  color: #004980;
  box-shadow: inset 0px 0px 1px 1px #004980;
}
.alert.good {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #e9ffcc;
  color: #3a6600;
  box-shadow: inset 0px 0px 1px 1px #3a6600;
}
.alert.warn {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fdfddc;
  color: #575704;
  box-shadow: inset 0px 0px 1px 1px #575704;
}
.alert.bad {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ffcce9;
  color: #800049;
  box-shadow: inset 0px 0px 1px 1px #800049;
}

.bonk-static {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}

.bonk-dynamic {
  transition: 3s ease-in-out;
  transition-property: transform;
}
.bonk-dynamic:hover {
  transform: rotate(1080deg);
  transform-origin: 0% 0%;
}

dialog.bonk--auto-dialog {
  background-color: #eee;
  color: #222;
  border: 3px solid #ff0091;
  min-width: 4rem;
  display: grid;
  overflow-x: hidden;
  grid-template-areas: "header close" "content content";
  grid-template-columns: 1fr 2rem;
  grid-template-rows: minmax(max-content, 2rem) 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  height: auto;
  width: auto;
}
dialog.bonk--auto-dialog::backdrop {
  background-color: rgba(34, 34, 34, 0.1);
}
@media all and (min-width: 40rem) and (min-height: 40rem) {
  dialog.bonk--auto-dialog {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 80%;
    max-height: 85%;
    bottom: auto;
  }
}
dialog.bonk--auto-dialog > * {
  grid-area: content;
}
dialog.bonk--auto-dialog > h1.bonk--auto-dialog-header,
dialog.bonk--auto-dialog > details.bonk--auto-dialog-details {
  grid-area: header;
}
dialog.bonk--auto-dialog > h1.bonk--auto-dialog-header,
dialog.bonk--auto-dialog > details.bonk--auto-dialog-details > summary {
  font-size: 1.25rem;
}
dialog.bonk--auto-dialog > details.bonk--auto-dialog-details {
  margin: 0;
  border: 0;
  padding: 0;
}
dialog.bonk--auto-dialog > button.bonk--auto-dialog-close {
  grid-area: close;
  width: 2rem;
  font-size: 1.5rem;
}

.bonk-slideshow {
  position: relative;
}
.bonk-slideshow .bonk--slideshow-item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bonk-slideshow .bonk--slideshow-item-hidden {
  display: none;
}
.bonk-slideshow .bonk--slideshow-btn-ctr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 20%;
}
.bonk-slideshow .bonk--slideshow-btn-next, .bonk-slideshow .bonk--slideshow-btn-prev {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  padding: 0;
  color: #ff0091;
  font-size: 2rem;
}
.bonk-slideshow .bonk--slideshow-btn-next:focus, .bonk-slideshow .bonk--slideshow-btn-prev:focus {
  outline: none;
}
.bonk-slideshow .bonk--slideshow-btn-prev {
  text-align: left;
}
.bonk-slideshow .bonk--slideshow-btn-prev .bonk--slideshow-btn-semicircle {
  clip-path: circle(3rem at 0% 50%);
}
.bonk-slideshow .bonk--slideshow-btn-next {
  text-align: right;
}
.bonk-slideshow .bonk--slideshow-btn-next .bonk--slideshow-btn-semicircle {
  clip-path: circle(3rem at 100% 50%);
}
.bonk-slideshow .bonk--slideshow-btn-semicircle {
  background: #eee;
  padding: 3rem 0.5rem;
}
.bonk-slideshow .bonk--slideshow-counter-ctr {
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.bonk-slideshow .bonk--slideshow-counter-ctr .bonk--slideshow-counter-dot {
  height: 0.75rem;
  width: 0.75rem;
  background: #eee;
  border-radius: 50%;
  border: 2px solid #f777c0;
  margin: 0 0.25rem;
  cursor: pointer;
}
.bonk-slideshow .bonk--slideshow-counter-ctr .bonk--slideshow-counter-dot:hover {
  background: #f777c0;
}
.bonk-slideshow .bonk--slideshow-counter-ctr .bonk--slideshow-counter-dot.bonk--slideshow-counter-current {
  background: #ff0091;
}

/*# sourceMappingURL=alt.css.map */
