/*/
// alternate color scheme, just as a demo
// black on white with red
$fg: #202020 !default;
$bg: #eeeeee !default;
$accent: #ff0091 !default;
/**/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #202020;
  color: #eeeeee;
  font-family: "Roboto";
  font-size: 1rem;
  word-wrap: break-word;
}

p {
  line-height: 1.5em;
  padding-bottom: 0.5em;
}

a {
  color: #0091ff;
  font-weight: 500;
  text-decoration: none;
}

a[href^=http]::after {
  display: inline-block;
  content: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><polyline fill="rgba(0, 145, 255, 1)" points="0,16 48,16 48,32 16,32 16,112 96,112 96,80 112,80 112,128 0,128"/><polyline fill="rgba(0, 145, 255, 1)" points="80,0 128,0 128,48 114,48 114,25.314 54.461,84.853 43.147,73.539 102.686,14 80,14"/></svg>');
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.2em;
  color: inherit;
}

pre, code {
  font-family: monospace;
}
pre em, code em {
  margin-right: 0.1em;
}

em {
  font-style: italic;
}

:root {
  font-size: 1.25em;
}

body {
  font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
}

h1 {
  font-size: 2.7rem;
  padding: 0.2em 0;
}

h2 {
  font-size: 2.4rem;
  padding: 0.2em 0;
}

h3 {
  font-size: 2.1rem;
  padding: 0.2em 0;
}

h4 {
  font-size: 1.9rem;
  padding: 0.2em 0;
}

h5 {
  font-size: 1.7rem;
  padding: 0.2em 0;
}

h6 {
  font-size: 1.5rem;
  padding: 0.2em 0;
}

article, section {
  padding: 0.5rem;
}

/* Site nav, across top */
main {
  position: fixed;
  top: 3rem;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
}
main ~ nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: rgba(238, 238, 238, 0.05);
  box-shadow: 0px 0.125rem 0.125rem #202020;
}
main ~ nav ul {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
main ~ nav ul > li {
  padding: 1rem;
}
main ~ nav ul > li a, main ~ nav ul > li label {
  font: inherit;
  color: inherit;
  display: block;
  height: 100%;
  padding: 1rem;
  margin: -1rem;
}
main ~ nav ul > li a:hover, main ~ nav ul > li label:hover {
  background-color: rgba(238, 238, 238, 0.05);
}
main ~ nav ul > li img {
  height: 2rem;
  margin: -0.5rem;
}

article > nav > label[for|=article-nav-toggle] {
  width: 3rem;
  height: 2.5rem;
  background-color: #2a2a2a;
  border-radius: 0 0 0 0.5rem;
  content: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"> <path d="M12 24h72a4 4 0 0 1 0 8h-72a4 4 0 0 1 0 -8" fill="rgba(0, 145, 255, 1)"/> <path d="M12 45h72a4 4 0 0 1 0 8h-72a4 4 0 0 1 0 -8" fill="rgba(0, 145, 255, 1)"/> <path d="M12 66h72a4 4 0 0 1 0 8h-72a4 4 0 0 1 0 -8" fill="rgba(0, 145, 255, 1)"/></svg>');
  cursor: pointer;
}

article > nav > label[for|=article-nav-toggle] {
  padding-top: 1rem;
  margin-top: -1rem;
  background: linear-gradient(transparent 0%, #2a2a2a 1rem);
}

/* Article nav, along side */
article {
  position: relative;
}
@media all and (min-width: 80rem) {
  article {
    padding-right: 15rem;
  }
}
article section:first-of-type > h1:first-of-type {
  margin-right: 3rem;
}
article > nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15rem;
}
article > nav > input[type=checkbox][id|=article-nav-toggle] {
  display: none;
}
article > nav > input[type=checkbox][id|=article-nav-toggle]:not(:checked) ~ ul {
  display: none;
}
@media all and (min-width: 80rem) {
  article > nav > input[type=checkbox][id|=article-nav-toggle]:not(:checked) ~ ul {
    display: block;
  }
}
article > nav > input[type=checkbox][id|=article-nav-toggle]:checked ~ label {
  z-index: 1;
}
article > nav > label[for|=article-nav-toggle] {
  top: -1rem;
  position: sticky;
  float: right;
}
@media all and (min-width: 80rem) {
  article > nav > label[for|=article-nav-toggle] {
    display: none;
  }
}
article > nav > ul {
  position: sticky;
  top: 0;
  background: #2a2a2a;
  border-left: 0.25rem solid rgba(238, 238, 238, 0.05);
  border-radius: 0 0 0 0.5rem;
  text-align: right;
  padding-bottom: 0.5em;
}
article > nav > ul:first-of-type {
  padding-top: 3.5rem;
  background: linear-gradient(transparent 0%, #2a2a2a 1rem);
  top: -1rem;
  margin-top: -1rem;
}
@media all and (min-width: 80rem) {
  article > nav > ul:first-of-type {
    padding-top: 1.5rem;
    height: 100vh;
    height: calc(100vh - 4.5rem);
    background: #2a2a2a;
    border-top: 0.25rem solid rgba(238, 238, 238, 0.05);
  }
}
article > nav > ul > li ul a {
  font-weight: normal;
}
article > nav > ul > li ul ul {
  font-size: 0.8rem;
}
article > nav > ul > li ul ul ul {
  font-style: italic;
}
article > nav ul {
  user-select: none;
}
article > nav ul li a {
  display: block;
  padding: 0.3rem 0.75rem 0.3rem 1rem;
  color: #eeeeee;
  transition: padding-right ease-in-out 0.15s;
}
article > nav ul li a:hover {
  background-color: rgba(238, 238, 238, 0.05);
  padding-right: 1rem;
}
article > nav ul li a + ul {
  border-right: 2px solid #105990;
  margin-right: 0.95rem;
}

/*

main {
margin-left: $borgar-width;
@media (min-width: $always-display-breakpoint) {
margin-left: $sidebar-width;
}
}

article > nav {
display: none;
input[type=checkbox] {
display: none;
transition: $transition;

~ {

label {
position: fixed;
top: 0;
left: 0;
width: $borgar-width;
transition: $transition;
transition-property: padding-left;
@media (min-width: $always-display-breakpoint) {
display: none;
}
}

ul {
background-color: c.$off-bg;
display: block;
position: fixed;
transition: $transition;
transition-property: left;
top: 0;
height: 100vh;
width: 100vw;
left: -100vw;
@media (min-width: $sidebar-width) {
width: $sidebar-width;
left: -$sidebar-width;
}
@media (min-width: $always-display-breakpoint) {
left: 0;
}

> li {
box-sizing: border-box;
height: 2rem;
padding: 0.5rem;
text-align: end;
cursor: pointer;
user-select: none;

&:hover {
background-color: c.$off-bg-tint;
}
}
}
}

&:checked ~ {
label[for=nav-open] {
width: 100vw;
height: 100vh;
background-color: $shade;
padding-left: $sidebar-width;
}

ul {
left: 0;
}
}
}

#nav-menu-icon {
width: $borgar-width;
height: $borgar-height;
background-color: $borgar-bg;
border-radius: 0 0 0.5rem 0;
content: url(icons.$prefix + map.get(icons.$map, 'borgar'));
}
}

*/
.grid-row {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 40em) {
  .grid-row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 50em) {
  .grid-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .grid-row {
    grid-template-columns: repeat(6, 1fr);
  }
}
.grid-row > .col-1w {
  grid-column: span 1;
}
.grid-row > .col-2w {
  grid-column: span 2;
}
.grid-row > .col-3w {
  grid-column: span 3;
}
.grid-row > .col-4w {
  grid-column: span 4;
}
.grid-row > .col-5w {
  grid-column: span 5;
}
.grid-row > .col-6w {
  grid-column: span 6;
}
.grid-row > .col-1w.col-1 {
  grid-column: 1/span 1;
}
.grid-row > .col-1w.col-2 {
  grid-column: 2/span 1;
}
.grid-row > .col-1w.col-3 {
  grid-column: 3/span 1;
}
.grid-row > .col-1w.col-4 {
  grid-column: 4/span 1;
}
.grid-row > .col-1w.col-5 {
  grid-column: 5/span 1;
}
.grid-row > .col-1w.col-6 {
  grid-column: 6/span 1;
}
.grid-row > .col-2w.col-1 {
  grid-column: 1/span 2;
}
.grid-row > .col-2w.col-2 {
  grid-column: 2/span 2;
}
.grid-row > .col-2w.col-3 {
  grid-column: 3/span 2;
}
.grid-row > .col-2w.col-4 {
  grid-column: 4/span 2;
}
.grid-row > .col-2w.col-5 {
  grid-column: 5/span 2;
}
.grid-row > .col-3w.col-1 {
  grid-column: 1/span 3;
}
.grid-row > .col-3w.col-2 {
  grid-column: 2/span 3;
}
.grid-row > .col-3w.col-3 {
  grid-column: 3/span 3;
}
.grid-row > .col-3w.col-4 {
  grid-column: 4/span 3;
}
.grid-row > .col-4w.col-1 {
  grid-column: 1/span 4;
}
.grid-row > .col-4w.col-2 {
  grid-column: 2/span 4;
}
.grid-row > .col-4w.col-3 {
  grid-column: 3/span 4;
}
.grid-row > .col-5w.col-1 {
  grid-column: 1/span 5;
}
.grid-row > .col-5w.col-2 {
  grid-column: 2/span 5;
}
.grid-row > .cell {
  background-color: rgba(238, 238, 238, 0.05);
  padding: 1em;
  border-radius: 0.5em;
  margin: 0.25em;
}

@media (min-width: 10rem) {
  .below-10rem {
    display: none;
  }
}
@media (max-width: 10rem) {
  .above-10rem {
    display: none;
  }
}
@media (min-width: 20rem) {
  .below-20rem {
    display: none;
  }
}
@media (max-width: 20rem) {
  .above-20rem {
    display: none;
  }
}
@media (min-width: 30rem) {
  .below-30rem {
    display: none;
  }
}
@media (max-width: 30rem) {
  .above-30rem {
    display: none;
  }
}
@media (min-width: 40rem) {
  .below-40rem {
    display: none;
  }
}
@media (max-width: 40rem) {
  .above-40rem {
    display: none;
  }
}
@media (min-width: 50rem) {
  .below-50rem {
    display: none;
  }
}
@media (max-width: 50rem) {
  .above-50rem {
    display: none;
  }
}
@media (min-width: 60rem) {
  .below-60rem {
    display: none;
  }
}
@media (max-width: 60rem) {
  .above-60rem {
    display: none;
  }
}
@media (min-width: 70rem) {
  .below-70rem {
    display: none;
  }
}
@media (max-width: 70rem) {
  .above-70rem {
    display: none;
  }
}
@media (min-width: 80rem) {
  .below-80rem {
    display: none;
  }
}
@media (max-width: 80rem) {
  .above-80rem {
    display: none;
  }
}
@media (min-width: 90rem) {
  .below-90rem {
    display: none;
  }
}
@media (max-width: 90rem) {
  .above-90rem {
    display: none;
  }
}
@media (min-width: 100rem) {
  .below-100rem {
    display: none;
  }
}
@media (max-width: 100rem) {
  .above-100rem {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
