@use 'sass:color';

@function safe-rgba($color, $alpha: 1.0) {
    @return unquote("rgba(#{red($color)}, #{green($color)}, #{blue($color)}, #{$alpha})");
}

// these are the three main theme colors
// white on black with blue
$bg    : #202020 !default;
$fg    : #eeeeee !default;
$accent: #0091ff !default;
/*/
// alternate color scheme, just as a demo
// black on white with red
$fg: #202020 !default;
$bg: #eeeeee !default;
$accent: #ff0091 !default;
/**/

// everything else is derived from the above
$off-bg-tint: color.adjust($fg, $alpha: -0.95) !default;
$off-bg-tint-double: color.adjust($fg, $alpha: -0.9) !default;
$off-fg-tint: color.adjust($bg, $alpha: -0.95) !default;
$off-fg-tint-double: color.adjust($bg, $alpha: -0.9) !default;
$accent-tint: color.adjust($accent, $alpha:-0.95) !default;
$accent-tint-double: color.adjust($accent, $alpha:-0.9) !default;
$off-bg: color.mix($bg, $fg, 95%) !default;
$off-fg: color.mix($fg, $bg, 95%) !default;
$accented-bg: color.mix($accent, $bg, 50%) !default;
$accented-fg: color.mix($accent, $fg, 50%) !default;

$heading-font: 'Roboto' !default;
$body-font: 'Roboto' !default;
$narrow-body-font-size: 4mm !default;
$narrow-body-threshold: 40rem !default;
$body-font-size: 5.25mm !default;
$monospace-font: 'Roboto Mono', monospace !default;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$columns: 6 !default;
$breakpoint-two-column  : 40em !default;
$breakpoint-three-column: 50em !default;
$breakpoint-full-column : 60em !default;

// rainbow colors
$red   : #ff0091 !default;
$orange: #ff9100 !default;
$yellow: #f6f531 !default;
$green : #91ff00 !default;
$blue  : #0091ff !default;
$purple: #9100ff !default;

// alert colors
$bg-neutral: lighten($blue  , 40%) !default;
$bg-good   : lighten($green , 40%) !default;
$bg-warn   : lighten($yellow, 35%) !default;
$bg-bad    : lighten($red   , 40%) !default;
$fg-neutral: darken($bg-neutral, 65%) !default;
$fg-good   : darken($bg-good   , 70%) !default;
$fg-warn   : darken($bg-warn   , 75%) !default;
$fg-bad    : darken($bg-bad    , 65%) !default;

// transitions
$ui-transition: 0.15s ease-in-out !default;
