@use 'constants' as c;

:root {
	font-size: c.$body-font-size;
}

body {
	font-family: c.$body-font;
}

h1, h2, h3, h4, h5, h6 {
	font-family: c.$heading-font;
}

h1 { font-size: 2.7rem; padding: 0.2em 0; }
h2 { font-size: 2.4rem; padding: 0.2em 0; }
h3 { font-size: 2.1rem; padding: 0.2em 0; }
h4 { font-size: 1.9rem; padding: 0.2em 0; }
h5 { font-size: 1.7rem; padding: 0.2em 0; }
h6 { font-size: 1.5rem; padding: 0.2em 0; }

article, section {
	padding: 0.5rem;
}
