@use 'util';
@use 'text-content';

// see garbage.scss for alert stuff
details {
	summary {
		line-height: 1.5em;
	}
	&[open] summary {
		margin-bottom: 0.5rem;
	}
	&:not(.well):not(.alert) {
		margin: 1rem;
		@extend %bar-left;
	}
	@extend p;
}
