@use 'constants' as c;

:root {
	font-size: c.$narrow-body-font-size;
	@media all and (min-width: c.$narrow-body-threshold) {
		font-size: c.$body-font-size;
	}
}

body {
	background-color: c.$bg;
	color: c.$fg;
	font-family: c.$body-font;
	font-size: 1rem;
	word-wrap: break-word;
}
