.syntax-html-bracket          { color: cyan; }
.syntax-html-tag              { color: yellow; }
.syntax-html-attribute-key    { color: lightgreen; }
.syntax-html-attribute-equals { color: cyan; }
.syntax-html-attribute-value  { color: magenta; }
.syntax-html-quotation        { color: magenta; }
