@use 'constants' as c;
@use 'util';

p {
	line-height: 1.5em;
	padding-bottom: 0.5em;
}

blockquote {
	@extend %bar-left;
}

article { counter-reset: figure; }
figure {
	counter-increment: figure;
	padding: 1rem;

	* {
		width: 100%;
	}
	&::before {
		content: "Figure " counter(figure);
		display: block;
		padding: 0.5rem 0;
		@extend %italic;
	}
	figcaption {
		padding: 0.5rem 0;
	}
}

hr {
	border-color: c.$accent;
}

pre {
	@extend %mono;
	tab-size: 4;
	background-color: #00000040;
	padding: 1rem;
	overflow-y: hidden; // add scroll for overflow-x if necessary (e.g. wide content on narrow screen)
}

ol { list-style-type: decimal; }
ul { list-style-type: disc; }

ol, ul {
	> li {
		margin-left: 2rem;
		line-height: 1.35em;
	}
}

dl { line-height: 1.25em; }
dt { @extend %italic; }
dd {
	@extend %bar-left;
	@extend %bar-bottom;
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
}
