images/almost-linux.png filter=lfs diff=lfs merge=lfs -text
images/scripting/orang-man-attak.jpg filter=lfs diff=lfs merge=lfs -text
images/scripting/bernie.jpg filter=lfs diff=lfs merge=lfs -text
images/scripting/despacito.jpg filter=lfs diff=lfs merge=lfs -text
images/scripting/frog.jpg filter=lfs diff=lfs merge=lfs -text
images/scripting/watermelone.jpeg filter=lfs diff=lfs merge=lfs -text
