$bracket: cyan !default;
$keyword: yellow !default;
$key: lightgreen !default;
$value: magenta !default;
$directive: lightblue !default;
$string: magenta !default;
$number: magenta !default;
$variable: white !default;
