@forward 'colors';
@use 'colors' as c;

.syntax-html-bracket          { color: c.$bracket; }
.syntax-html-tag              { color: c.$tag; }
.syntax-html-attribute-key    { color: c.$key; }
.syntax-html-attribute-equals { color: c.$bracket; }
.syntax-html-attribute-value  { color: c.$value; }
.syntax-html-quotation        { color: c.$value; }
